### Statistical Learning Project 1

In [507]:
import numpy as np
import pandas as pd

In [508]:
dataset = pd.read_csv('Laliga.csv')
dataset.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [509]:
dataset.columns = dataset.loc[0,:] #setting column names correctly as they are named as Unnamed at this moment
dataset.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

### 1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)

In [510]:

dataset.replace('-',0,inplace = True)
dataset.head(10) #verification that all - is changed to 0

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2

### 2.Print all the teams which have started playing between 1930-1980. (5 points)

In [511]:
#removing first row as it is string (same as column names)
dataset.drop(dataset.index[0], inplace = True)

In [512]:
dataset.dtypes #checking for datatypes of columns

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
dtype: object

In [513]:
#saving the required Debut in an array for operation
strings = np.array(dataset.Debut)
list_debut_year = []
strings

array(['1929', '1929', '1929', '1931-32', '1929', '1934-35', '1929',
       '1929', '1939-40', '1932-33', '1941-42', '1939-40', '1948-49',
       '1929', '1944-45', '1935-36', '1949-50', '1933-34', '1960-61',
       '1951-52', '1998-99', '1941-42', '1977-78', '1959-60', '2004-05',
       '1935-36', '1961-62', '1940-41', '1930-31', '1963-64', '1974-75',
       '1943-44', '1977-78', '1987-88', '1941-42', '1991-92', '2007-08',
       '1962-63', '1994-95', '1978-79', '1971-72', '1963-64', '1999-00',
       '2014-15', '1929', '1990-91', '1947-48', '1996-97', '1995-96',
       '1945-46', '1953-54', '1929', '1979-80', '1929', '1950-51',
       '2016-17', '2009-10', '1956-57', '1951-52', '1955-56', '2017-18'],
      dtype=object)

In [514]:
#changing year format 19xx-yy to 19xx and storing it in a separate list 
for x in strings:
    debut_year = x[:4]
    list_debut_year.append(debut_year)

In [515]:
#replacing the 19xx-yy formatted column by new list which has the same years as 19xx format
dataset['Debut']= list_debut_year

In [516]:
dataset.head(10) #verification that replacement is successful

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015-16,1

In [517]:
dataset['Debut'] = dataset['Debut'].astype(int) #converting type to int of the column to perform arithmetic operations

In [518]:

#setting the filter of debut from 1930-1980 and saving that in a new dataframe and printing that
df3 = dataset.loc[(dataset.Debut>=1930) & (dataset.Debut<=1980),['Team','Debut']].sort_values('Debut',ascending = True)
print('All the teams which have started playing between 1930-1980')
df3

All the teams which have started playing between 1930-1980

0                  Team  Debut
29               Alaves   1930
4              Valencia   1931
10           Real Betis   1932
18               Oviedo   1933
6               Sevilla   1934
26             Hercules   1935
16              Osasuna   1935
9              Zaragoza   1939
12           Celta Vigo   1939
28               Murcia   1940
22              Granada   1941
11  Deportivo La Coruna   1941
35            Castellon   1941
32             Sabadell   1943
15       Sporting Gijon   1944
50             Alcoyano   1945
47            Gimnastic   1947
13           Valladolid   1948
17               Malaga   1949
55               Lleida   1950
20           Las Palmas   1951
59      Atletico Tetuan   1951
51                 Jaen   1953
60     Cultural Leonesa   1955
58               Condal   1956
24                Elche   1959
19             Mallorca   1960
27             Tenerife   1961
38              Cordoba   1962
30              Levante   1963
42           Pontevedra   1963
41            Burgos CF   1971
31            Salamanca   1974
23       Rayo Vallecano   1977
33                Cadiz   1977
40           Recreativo   1978
53           AD Almeria   1979

### 3.Print the list of teams which came Top 5 in terms of points (5 points)

In [519]:

dataset['Points'] = dataset['Points'].astype(int) #converting type to int of the column to perform arithmetic operations
df1_points = dataset.sort_values('Points',ascending = False)
print('The list of teams which came Top 5 in terms of points \n')
print(df1_points.iloc[:5,[1,3]])

The list of teams which came Top 5 in terms of points

0             Team  Points
1      Real Madrid    4385
2        Barcelona    4262
3  Atletico Madrid    3442
4         Valencia    3386
5  Athletic Bilbao    3368

### 4.Write a function with name Goal_diff_count which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [520]:
#Function to return all the teams with their Goal Differences
#It takes a data frame as argument and returns a data frame which contains Team and corresponding Goal Difference
def Goal_diff_count(df):
    goal_diff = pd.DataFrame({'Team':df['Team'],'Goal Diff':df['GoalsFor'] - df['GoalsAgainst']})
    return goal_diff

#converting type to int of the column to perform arithmetic operations
dataset['GoalsFor'] = dataset['GoalsFor'].astype(int)
dataset['GoalsAgainst'] = dataset['GoalsAgainst'].astype(int)

#Function call
minmax = Goal_diff_count(dataset)

#Output displays
print('All the teams with their Goal Differences \n')
print(minmax)

All the teams with their Goal Differences

                   Team  Goal Diff
1           Real Madrid       2807
2             Barcelona       2786
3       Atletico Madrid       1225
4              Valencia        929
5       Athletic Bilbao        931
6               Sevilla        307
7              Espanyol       -280
8         Real Sociedad         -2
9              Zaragoza       -164
10           Real Betis       -333
11  Deportivo La Coruna       -136
12           Celta Vigo       -346
13           Valladolid       -413
14     Racing Santander       -525
15       Sporting Gijon       -399
16              Osasuna       -334
17               Malaga       -342
18               Oviedo       -309
19             Mallorca       -189
20           Las Palmas       -399
21           Villarreal        103
22              Granada       -338
23       Rayo Vallecano       -328
24                Elche       -272
25               Getafe       -113
26             Hercules       -334
27             Tenerife       -125
28               Murcia       -385
29               Alaves       -165
30              Levante       -202
..                  ...        ...
32             Sabadell       -228
33                Cadiz       -269
34             Logrones       -198
35            Castellon       -169
36             Albacete        -90
37              Almeria       -122
38              Cordoba       -145
39           Compostela        -42
40           Recreativo        -94
41            Burgos CF        -94
42           Pontevedra        -56
43             Numancia        -98
44                Eibar        -28
45               Arenas        -81
46          Real Burgos        -38
47            Gimnastic       -114
48          Extremadura        -55
49               Merida        -45
50             Alcoyano       -107
51                 Jaen        -62
52           Real Union        -31
53           AD Almeria        -45
54               Europa        -34
55               Lleida       -112
56              Leganes        -19
57                Xerez        -28
58               Condal        -20
59      Atletico Tetuan        -34
60     Cultural Leonesa        -31
61               Girona          0

[61 rows x 2 columns]

In [521]:
#Min/max Goal Difference teams 
print("Team with highest goal difference =", minmax.loc[minmax['Goal Diff'].idxmax(axis = 0),'Team'])
print("Team with lowest goal difference =", minmax.loc[minmax['Goal Diff'].idxmin(axis = 0),'Team'])
#Achieved both requirements in question (all teams with GD and max/min GD teams) with just one call of the function in the previous cell

Team with highest goal difference = Real Madrid
Team with lowest goal difference = Racing Santander

### 5.Create a new column with name Winning Percent and append it to the data set (5 points)

In [522]:
#changing data type to perform arithmetic operations
dataset['GamesPlayed'] = dataset['GamesPlayed'].astype(int)
dataset['GamesWon'] = dataset['GamesWon'].astype(int)

#calculating win% and adding it to new column 'Winning Percent'
dataset['Winning Percent'] = (dataset['GamesWon']*100)/dataset['GamesPlayed']

dataset.head() #verification if new column is added

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

In [523]:
dataset['Winning Percent'] #checking for NaN values in newly added column

1     59.630702
2     57.241130
3     47.475134
4     44.557057
5     43.772629
6     41.112957
7     36.100533
8     37.532580
9     35.146022
10    35.069444
11    36.797386
12    34.511190
13    31.582538
14    31.722689
15    32.304527
16    32.321700
17    31.075697
18    34.228188
19    33.704453
20    33.485401
21    41.176471
22    29.380054
23    28.987730
24    29.941003
25    32.236842
26    29.299363
27    31.376518
28    24.744027
29    32.894737
30    28.109453
        ...
32    30.281690
33    23.214286
34    27.745665
35    30.838323
36    28.148148
37    27.192982
38    29.078014
39    32.500000
40    26.881720
41    28.921569
42    29.444444
43    24.342105
44    30.701754
45    33.076923
46    22.807018
47    29.310345
48    25.000000
49    23.750000
50    27.777778
51    32.222222
52    29.166667
53    25.000000
54    33.333333
55    19.117647
56    21.052632
57    21.052632
58    23.333333
59    23.333333
60    16.666667
61          NaN
Name: Winning Percent, Length: 61, dtype: float64

In [524]:
#replacing NaN values with 0 in win % column
dataset['Winning Percent'].fillna(0, inplace = True)
dataset['Winning Percent'] #verification replacement is successfull

1     59.630702
2     57.241130
3     47.475134
4     44.557057
5     43.772629
6     41.112957
7     36.100533
8     37.532580
9     35.146022
10    35.069444
11    36.797386
12    34.511190
13    31.582538
14    31.722689
15    32.304527
16    32.321700
17    31.075697
18    34.228188
19    33.704453
20    33.485401
21    41.176471
22    29.380054
23    28.987730
24    29.941003
25    32.236842
26    29.299363
27    31.376518
28    24.744027
29    32.894737
30    28.109453
        ...
32    30.281690
33    23.214286
34    27.745665
35    30.838323
36    28.148148
37    27.192982
38    29.078014
39    32.500000
40    26.881720
41    28.921569
42    29.444444
43    24.342105
44    30.701754
45    33.076923
46    22.807018
47    29.310345
48    25.000000
49    23.750000
50    27.777778
51    32.222222
52    29.166667
53    25.000000
54    33.333333
55    19.117647
56    21.052632
57    21.052632
58    23.333333
59    23.333333
60    16.666667
61     0.000000
Name: Winning Percent, Length: 61, dtype: float64

In [525]:
dataset.sort_values('Winning Percent',ascending = False).head() #final top 5 teams as per win% in dataset after new column addition and data cleaning
#note: winning percent is last column

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629

### 6.Group teams based on their Best position and print the sum of their points for all positions (5 points)

In [526]:

dataset['BestPosition'] = dataset['BestPosition'].astype(int) #converting type to int of the column to perform arithmetic operations
#finiding out unique best position numbers
unq = np.array(dataset.BestPosition.unique())
unq.sort()
#grouping by best positions
position = dataset.groupby(['BestPosition'])
print('Sum of the points for all positions')
print('Best Postion', 'Points\t')
#using the unique numbers calling groups and adding points for those groups
for x in unq:
    abc = position.get_group(x)
    print(x, '\t    ',abc['Points'].sum())

Sum of the points for all positions
Best Postion Points
1 	     27933
2 	     6904
3 	     5221
4 	     6563
5 	     1884
6 	     2113
7 	     1186
8 	     1134
9 	     96
10 	     450
11 	     445
12 	     511
14 	     71
15 	     14
16 	     81
17 	     266
19 	     81
20 	     34